{% extends "base.html" %}

{% block content %}
    {% load static %}
    <div class="container-xl">
        <h1 class="text-center mb-3">Страница о нас</h1>
        <div class="d-flex justify-content-between">
            <img class="w-50" src="{% static 'img/cat-3.jpg' %}" alt="Awesome cat">
            <p class="w-50 p-2"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas excepturi earum pariatur suscipit totam velit eaque repellendus, architecto molestiae, eos vero. Nesciunt cupiditate assumenda dolorum porro maxime itaque in necessitatibus!</p>
        </div>

    </div>

{% endblock %}