{% extends "base.html" %}
{% block title %}Список товаров{% endblock %}
{% block content %}
    <h1>Список товаров</h1>
    <p>нехватка инфы 70 %</p>

    {{ items }}
    {{ bool }}
    {{ string }}
    {{ int }}

    <div class="container-xl ">
        <div class="row">
            <div class="col p-2 m-3">
                <img class="w-70 text-center" src="" alt="">
                <h2 class="title">Название продукта</h2>
            </div>
            <div class="col p-2 m-3">
                <img class="w-70 text-center" src="" alt="">
                <h2 class="title">Название продукта</h2>
            </div>
            <div class="col p-2 m-3">
                <img class="w-70 text-center" src="" alt="">
                <h2 class="title">Название продукта</h2>
            </div>
        </div>
        <div class="row">
            <div class="col p-2 m-3">
                <img class="w-70 text-center" src="" alt="">
                <h2 class="title">Название продукта</h2>
            </div>
            <div class="col p-2 m-3">
                <img class="w-70 text-center" src="" alt="">
                <h2 class="title">Название продукта</h2>
            </div>
            <div class="col p-2 m-3">
                <img class="w-70 text-center" src="" alt="">
                <h2 class="title">Название продукта</h2>
            </div>
        </div>
    </div>
{% endblock %}